{% extends "base.html" %}
{% block title %}
Home | Jeevan's Blogs
{% endblock %}
{% block search %}
<form class="d-flex" method="GET">
  <input class="form-control me-2" type="search" placeholder="Search" name="search" />
  <button class="btn btn-outline-light btn-sm" type="submit">Search</button>
</form>
{% endblock %} {% block content %}

<!-- Blog Entries Column -->
{% for post in post_list%}
<div id="post_list" class="list-group-item mt-3 bg-light rounded border-0">
    <a style="text-decoration: none" href="{% url 'post_detail' post.slug  %}">
      <h5 class="mb-1">{{ post.title }}</h5>
    </a>
    <div class="d-flex w-100 justify-content-start">
        <small class="text-muted">by {{ post.author }},</small>
        <small id="date" class="text-muted ms-1">{{ post.get_date }}</small>
    </div>
</div>
{% endfor %}

<ul class="pagination my-3 small d-flex justify-content-center mt-5">
  {% if page_obj.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
  </li>
  {% endif %}

  {% if page_obj.has_next or page_obj.has_previous %}
  
  {% for i in page_obj.paginator.page_range %}
  {% if page_obj.number == i %}
  <li class="page-item active"><a class="page-link">{{ i }} </a></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
    </li>
  {% endif %}

</ul>
{%endblock%}