<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image//favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'image/site.webmanifest' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script src="https://kit.fontawesome.com/46db387ce0.js" crossorigin="anonymous"></script>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %} {% endblock %} Blogs and Tools shared by Jeevan Dhakal">
  <meta name="keywords" content="Jeevan, Jeevan Dhakal, JD, Developer, Back-end, Nepal, Django, Python, Machine Learning, ML, AI, Data Science"/>
  {% include 'structure_data.html' %}
</head>

<body>
  <nav id="nav-bar" class="navbar navbar-dark navbar-expand-lg px-5 py-3" style="background-color: #47abcc">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'post' %}">Blogs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              {{user.username}} | Logout
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tools
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <a class="dropdown-item" href="{% url 'password_generator' %}">Password Generator</a></li>
              <li><a class="dropdown-item" href="{% url 'file_converter' %}">File Convertor</a></li>
            </ul>
          </li>
        </ul>
        {% block search %} {% endblock %}
      </div>
    </div>
  </nav>

  <div id="container" class="container w-75 mt-4">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}" id="message">{{ message }}</div>
    {% endfor %} {% endif %} {% block content %} {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>