{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Tools |
Password Generator {% endblock %} {% block content %}
<div class="container">
  <h1 class="text-center">Password Generator</h1>
  <form class="" method="post">
    {% csrf_token %}
    <div class="d-flex .flex-sm-row align-items-center justify-content-center mt-5">
      <label for="length" class="me-2 fs-3">Password length:</label>
      <select class="form-select sm p-1 me-2" style="max-width:40px;max-height:24px" name="length">
        <option value="8">8</option>
        <option value="12">12</option>
        <option value="16">16</option>
        <option value="20">20</option>
      </select>
      <button class="btn  btn-sm btn-primary rounded" type="submit">Generate</button>
    </div>
  </form>
</div>
{% if password %}
<p class="text-center m-5"><b>{{password}}</b></p>
{% endif %} {% endblock %}
