{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Tools |
Password Generator {% endblock %} 
{% block description %} Tools: Password Generator {% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center">Password Generator</h1>
  <form method="post">
    {% csrf_token %}
    <div class="d-flex .flex-sm-row align-items-center justify-content-center mt-5">
      <label id="label" for="length" class="me-2 fs-3">Password length:</label>
      <select id="pass_select" class="form-select me-2" style="width:53px" name="length">
        <option value="8">8</option>
        <option value="12">12</option>
        <option value="16">16</option>
        <option value="20">20</option>
      </select>
      <button class="btn  btn-sm btn-primary rounded" type="submit">Generate</button>
    </div>
  </form>
</div>
{% if password %}
<div class="d-flex .flex-sm-row align-items-center justify-content-center mt-5 fs-4">
  <p class="me-2 my-0" id="text-to-copy"><b>{{password}}</b></p>
  <button class="px-3 btn fs-3" id="copy-btn" onclick="copyToClipboard('#text-to-copy')"><i id="change-icon" onclick="toggleIcon(this)" class="fa-regular fa-copy text-primary"></i></button>
</div>
{% endif %} {% endblock %}
